<div class="container-detail offset-lg-2 col-lg-8 ">
  <div class="row">
    <div class="col-md-12">
      <h1>Add Program</h1>
      <hr>
      <form [formGroup]="programAddForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-group input-full-width">
          <mat-label for="name">Name</mat-label>
          <input matInput type="text" id="name" formControlName="name" required>
          <mat-error *ngIf="f.name.errors?.required">
            Name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group input-full-width">
          <mat-label for="name">Location</mat-label>
          <input matInput type="text" id="location" formControlName="location" required>
          <mat-error *ngIf="f.location.errors?.required" class="invalid-feedback">
            Location is required
          </mat-error>
        </mat-form-field>
        <div class="form-group input-full-width">
          <mat-slide-toggle color="primary" (change)="onToggle($event)" [checked]="isAllDay">
            All Day
          </mat-slide-toggle>
        </div>
        <mat-form-field class="form-group col-lg-6 input-full-width">
          <mat-label>Start Time</mat-label>
          <input matInput type="time" id="start" formControlName="start" required>
          <mat-error *ngIf="f.start.errors?.required" class="invalid-feedback">
            Start Time is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group col-lg-6 input-full-width">
          <mat-label>End Time</mat-label>
          <input matInput type="time" id="end" formControlName="end" required>
          <mat-error *ngIf="f.end.errors?.required" class="invalid-feedback">
            End Time is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-group input-full-width">
          <mat-label for="name">Tags</mat-label>
          <input matInput type="text" id="tags" formControlName="tags" required>
          <mat-error *ngIf="f.tags.errors?.required">
            Tag is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group input-full-width">
          <mat-label for="name">Dimension</mat-label>
          <input matInput type="text" id="dimension" formControlName="dimension">
        </mat-form-field>
        <mat-form-field class="form-group input-full-width">
          <mat-label for="name">Facilitators</mat-label>
          <input matInput type="text" id="facilitators" formControlName="facilitators">
        </mat-form-field>
        <mat-form-field class="form-group input-full-width">
          <mat-label for="name">Level Of Care</mat-label>
          <input matInput type="text" id="levelOfCare" formControlName="levelOfCare">
        </mat-form-field>
        <mat-form-field class="form-group input-full-width">
          <mat-label for="name">Hobbies</mat-label>
          <input matInput type="text" id="hobbies" formControlName="hobbies">
          <!-- <button type="button" (click)="addNameField()" class="btn btn-success">Add More Names</button> -->

        </mat-form-field>
        <div class="form-group input-full-width">
          <mat-slide-toggle color="primary" (change)="onToggleRepetaed($event)" [checked]="isRepeated">
            Repeting
          </mat-slide-toggle>
        </div>
        <div class="form-group justify-content-center d-flex">
          <button mat-raised-button color="primary" type="button" class="btn" (click)="backClicked()">Cancel</button>
          <button mat-raised-button color="primary" type="submit" class="btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
