<div class="container-detail offset-lg-2 col-lg-8 ">
  <div class="row">
    <div class="col-md-12">
      <h1>Add Program</h1>
      <hr>
      <form [formGroup]="programAddForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-group input-full-width">
          <mat-label for="name">Name</mat-label>
          <input matInput type="text" id="name" formControlName="name" required>
          <mat-error *ngIf="f.name.errors?.required">
            Name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group input-full-width">
          <mat-label for="name">Location</mat-label>
          <input matInput type="text" id="location" formControlName="location" required>
          <mat-error *ngIf="f.location.errors?.required" class="invalid-feedback">
            Location is required
          </mat-error>
        </mat-form-field>
        <div class="row">
          <div class="form-group col-lg-6 input-full-width">
            <mat-slide-toggle color="primary" (change)="onToggle($event)" [checked]="isAllDay">
              All Day
            </mat-slide-toggle>
          </div>
          <div class="form-group col-lg-6 input-full-width">
            <mat-slide-toggle color="primary" (change)="onToggleRepetaed($event)" [checked]="isRepeated">
              Repeting
            </mat-slide-toggle>
          </div>
        </div>
        <div class="row">
          <mat-form-field class="form-group col-lg-6 input-full-width">
            <mat-label>Start Time</mat-label>
            <input matInput type="time" id="start" formControlName="start" required>
            <mat-error *ngIf="f.start.errors?.required" class="invalid-feedback">
              Start Time is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="form-group col-lg-6 input-full-width">
            <mat-label>End Time</mat-label>
            <input matInput type="time" id="end" formControlName="end" required>
            <mat-error *ngIf="f.end.errors?.required" class="invalid-feedback">
              End Time is required
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field class="form-group input-full-width">
          <mat-label for="name">Dimension</mat-label>
          <input matInput type="text" id="dimension" formControlName="dimension" class="addHeight30">
        </mat-form-field>
        <div formArrayName="tags">
          <div *ngFor="let name of tags.controls; index as tagsIndex" class="form-group">
            <input matInput [formControlName]="tagsIndex" placeholder="Tags" class="addHeight30 margin-top">
          </div>
          <button mat-raised-button color="accent" type="button" class="addBtn" (click)="addItemTags()">
            <mat-icon>add</mat-icon>
            Tags
          </button>
        </div>
        <div formArrayName="facilitators">
          <div *ngFor="let name of facilitators.controls; index as facilitatorsIndex" class="form-group">
            <input matInput [formControlName]="facilitatorsIndex" placeholder="Facilitators"
              class="addHeight30 margin-top">
          </div>
          <button mat-raised-button color="accent" type="button" class="addBtn" (click)="addItemFacilitators()">
            <mat-icon>add</mat-icon>
            Facilitators
          </button>
        </div>
        <div formArrayName="levelOfCare">
          <div *ngFor="let name of levelOfCare.controls; index as levelOfCareIndex" class="form-group">
            <input matInput [formControlName]="levelOfCareIndex" placeholder="Level Of Care"
              class="addHeight30 margin-top">
          </div>
          <button mat-raised-button color="accent" type="button" class="addBtn" (click)="addItemLevelOfCare()">
            <mat-icon>add</mat-icon>
            Level Of Care
          </button>
        </div>
        <div formArrayName="hobbies">
          <div *ngFor="let name of hobbies.controls; index as hobbiesIndex" class="form-group">
            <input matInput [formControlName]="hobbiesIndex" placeholder="Hobbies" class="addHeight30 margin-top">
          </div>
          <button mat-raised-button color="accent" type="button" class="addBtn" (click)="addHobbies()">
            <mat-icon>add</mat-icon>
            Hobbies
          </button>
        </div>
        <div class="form-group justify-content-center d-flex">
          <button mat-raised-button color="primary" type="button" class="btn" (click)="backClicked()">Cancel</button>
          <button mat-raised-button color="primary" type="submit" class="btn">Add Program</button>
        </div>
      </form>
    </div>
  </div>
</div>
